# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings
DATABASE_URL="mysql://prisma_course:password@127.0.0.1:3306/center_education"
JWT_SECRET=super_secret_key_123
FRONTEND_URL=http://localhost:5173

# Paymob Configuration
PAYMOB_API_KEY="ZXlKaGJHY2lPaUpJVXpVeE1pSXNJblI1Y0NJNklrcFhWQ0o5LmV5SmpiR0Z6Y3lJNklrMWxjbU5vWVc1MElpd2ljSEp2Wm1sc1pWOXdheUk2TVRFeU1qUTJNU3dpYm1GdFpTSTZJbWx1YVhScFlXd2lmUS5MNGgzQ0lMZ29pLWZTcFAtTVdObDVmd0RMTzlyTjlPRHcxWmZ5UlI0TWxSa3B4Umd2YWFzLVlrXzdiaWJkZ0tMdUxBM2lsWE5DYmplemNsa0d2ckJsUQ=="
PAYMOB_HMAC_SECRET="CD3AE9BCE58ADDFF3B4223CF81DD55B1"

# Integration IDs
CARD_INTEGRATION_ID="5468545"
WALLET_INTEGRATION_ID="5470931"
PAYPAL_INTEGRATION_ID="5468667"
IFRAME_ID="996547"

# Legacy variable names (for backward compatibility)
privateKey="egy_sk_test_54acd3fafe4dc2fbf8c59d1eab333e22a57794d1dd2e13308060b995cdde0312"
APIKey="ZXlKaGJHY2lPaUpJVXpVeE1pSXNJblI1Y0NJNklrcFhWQ0o5LmV5SmpiR0Z6Y3lJNklrMWxjbU5vWVc1MElpd2ljSEp2Wm1sc1pWOXdheUk2TVRFeU1qUTJNU3dpYm1GdFpTSTZJbWx1YVhScFlXd2lmUS5MNGgzQ0lMZ29pLWZTcFAtTVdObDVmd0RMTzlyTjlPRHcxWmZ5UlI0TWxSa3B4Umd2YWFzLVlrXzdiaWJkZ0tMdUxBM2lsWE5DYmplemNsa0d2ckJsUQ=="
publicKey="egy_pk_test_5fYriGlkfMHlFTu2VOAAKiHBwXecjDFs"
baseURL="https://accept.paymob.com/"
